/* Alinea verticalmente el logotipo y el menú en el encabezado */
.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 100px;
    display: block;
}

.menu-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-top li {
    margin: 0 50px;
}

.menu-top a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-top a:hover {
    color: #ff9900;
}

/* Estilos para el menú */

