.mensaje-bienvenida {
    position: absolute;
    top: 50%; /* Centra verticalmente el mensaje */
    left: 50%; /* Centra horizontalmente el mensaje */
    transform: translate(-50%, -50%); /* Centra el mensaje en relación al 50% de su propio tamaño */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el mensaje */
    padding: 20px;
    text-align: center;
    color: #fff;
}


/* Establece la posición relativa del carrusel */
#miCarrusel {
    position: relative;
    width: 100%;
    height: 100vh;
}
/* Ajustar el tamaño de las imágenes del carrusel */
.carousel-item img {
    width: 100%;
    height: 100vh; /* Mantén la misma altura que el carrusel */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
}
#header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda la altura del viewport */
    z-index: 2; /* Coloca el encabezado sobre el carrusel */
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Asegura que el menú esté por encima del carrusel */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

