<div class="footer-content">
    
    <div class="logo">
        <img src="../assets/images/logo.png" alt="Logo Footer">
    </div>
    <div class="contact-info">
        <h3>Contacto</h3>
        <p>Dirección: Calle Principal, Ciudad</p>
        <p>Correo electrónico: info@tudominio.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="social-media">
        <h3>Redes Sociales</h3>
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank" ><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <!-- Agrega más enlaces de redes sociales según sea necesario -->
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Tu Sitio Web. Todos los derechos reservados.</p>
    </div>
</div>
    
