<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css">

    <title>Encabezado</title>
</head>
<body >
    <header >
        <nav class="menu-top">
            <div class="logo" id="mi-logo">
                <img src="../assets/images/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="../pages/index.html" target="_top">Inicio</a></li>
                <li><a href="../pages/proyects.html" target="_top">Proyectos</a></li>
                <li><a href="../pages/about.html" target="_top">Acerca de</a></li>
                <li><a href="../pages/contact.html" target="_top">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>