
<nav class="menu-top">
    <div class="logo" id="mi-logo">
        <img src="../assets/images/logo.png" alt="Logo">
    </div>
    <div class="mobile-menu">
        <button id="menu-button" class="menu-icon">
            <i class="fas fa-bars"></i>
        </button>
        <ul id="menu-list">
            <li><a href="../pages/index.html" target="_top"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="../pages/proyects.html" target="_top"><i class="fas fa-cubes"></i>Proyectos</a></li>
            <li><a href="../pages/proyects2.html" target="_top"><i class="fas fa-cubes"></i>Proyectos2</a></li>
            <li><a href="../pages/about.html" target="_top"><i class="fas fa-users"></i> Acerca de</a></li>
            <li><a href="../pages/contact.html" target="_top"><i class="fas fa-envelope"></i> Contacto</a></li>
            <li><a href="../pages/menus.html" target="_top"><i class="fas fa-envelope"></i> Menu</a></li>
        </ul>
    </div>
    
</nav>
